<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="adminLayout">
<head>
    <title>Event24 manager</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        table {
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<section layout:fragment="content">

    <form th:action="@{/event24/add}" th:object="${event24}" method="post">

        <p><input th:field="*{teamA}" placeholder="teamA">teamA</p>
        <p th:if="${#fields.hasErrors('teamA')}" th:errors="*{teamA}">Incorrect teamA</p>

        <p><input th:field="*{teamB}" placeholder="teamB">teamB</p>
        <p th:if="${#fields.hasErrors('teamB')}" th:errors="*{teamB}">Incorrect teamB</p>

        <p><input th:field="*{strengthA}" placeholder="strengthA">strengthA</p>
        <p th:if="${#fields.hasErrors('strengthA')}" th:errors="*{strengthA}">Incorrect strengthA</p>

        <p><input th:field="*{strengthB}" placeholder="strengthB">strengthB</p>
        <p th:if="${#fields.hasErrors('strengthB')}" th:errors="*{strengthB}">Incorrect strengthB</p>

        <p><input type='datetime' th:field="*{startDate}" placeholder="mm/dd/yy hh:mm PM">startDate(np. 6/23/18 5:54 PM)</p>
        <p th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}">Incorrect startDate</p>


        <p><input type="submit" value="submit"></p>

    </form>

    <h1>All event24: </h1>

    <table>
        <th>
        <td>Team A</td>
        <td>Team B</td>
        <td>Edit</td>
        <td>Delete</td>
        </th>
        <tr th:each="event24 : ${event24s}">
            <td th:text="${event24.id}"/>
            <td th:text="${event24.teamA}"/>
            <td th:text="${event24.teamB}"/>
            <td><a th:href="@{'/event24/edit/'+${event24.id}}">edit</a></td>
            <td><a th:href="@{'/event24/delete/'+${event24.id}}">delete</a></td>


        </tr>

    </table>

</section>
</body>
</html>