<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Add account</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<section layout:fragment="content">

    <form th:action="@{/account/add}" th:object="${account}" method="post" cssClass="jumbotron">

        <p><input th:field="*{accountNumber}" placeholder="accountNumber" cssClass="form-conrol">accountNumber</p>
        <p th:if="${#fields.hasErrors('accountNumber')}" th:errors="*{accountNumber}">Incorrect accountNumber</p>

        <p><input type="submit" value="submit" class="btn btn-success"></p>

    </form>

</section>
</body>
</html>