<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<body>

<table>
    <tr>
        <td><a href="/admin">__Admin panel__</a></td>
        <td><a th:href="@{http://localhost:8161}">__ACTIVE-MQ__</a></td>
        <td><a href="/event24/add">__Event24 - edit__</a></td>
        <td><a href="/betOfferType/add">__Bet offer type__</a></td>
        <td><a href="/betOffer/add">__Bet offer__</a></td>
        <td><a href="/home">__User home__</a></td>

    </tr>
</table>

<div layout:fragment="content">
    //Here will be the content of a page
</div>

</body>
</html>