<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<body>

<table>
    <tr>
        <td><a href="/home">Home</a></td>
        <td><a href="/event/add">Event</a></td>
        <td><a href="/betOfferType/add">Bet offer type</a></td>
        <td><a href="/betOffer/add">Bet offer</a></td>

    </tr>
</table>

<div layout:fragment="content">
    //Here will be the content of a page
</div>

</body>
</html>