<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Show events: </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        table {
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<section layout:fragment="content">

    <h1>All bet offers: </h1>

    <table>
        <th>
            <td>Type</td>
            <td>Odds</td>
            <td>Place bet</td>

        </th>
        <tr th:each="betOffer : ${betOffers}">
            <td th:text="${betOffer.id}"/>
            <td th:text="${betOffer.betOfferType.name}"/>
            <td th:text="${betOffer.odds}"/>
            <td><a th:href="@{'/bet/add/'+${betOffer.id}}">bet</a></td>
        </tr>

    </table>

</section>
</body>
</html>