<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="layout">
<head>
    <title>Bet24 - home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        table {
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
        }
    </style>

    <script type="text/javascript">

        setTimeout(function(){
            window.location.reload(1);
        }, 5000);

    </script>

</head>
<body>

<section layout:fragment="content">

    <h1>Welcome on Bet24</h1>



    <!--LOGIN PART - VIEWED ONLY WHEN USER NOT LOGGED IN-->


    <div th:if="${session.user_id == null}">

        <h2>Log in:</h2>

        <form th:action="@{/home}" th:object="${user}" method="post">

            <p><input th:field="*{username}" placeholder="username">username</p>
            <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Incorrect username</p>

            <p><input th:field="*{password}" placeholder="password">password</p>
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect password</p>

            <span th:if="${loginError==1}">Incorrect email of password</span>

            <p><input type="submit" value="submit"></p>

        </form>

        <a href="/user/add">Register here</a>

        <p>------------------------------------------------</p>

    </div>


    <div>
        <h2>List of active events:</h2>

        <div th:if="${ #lists.isEmpty(events)}">
            <p>No events available..</p>
        </div>


        <div th:if="${not #lists.isEmpty(events)}">

            <table>
                <tr>
                <th>Game id</th>
                <th>Team A</th>
                <th>Score A</th>
                <th>Team B</th>
                <th>Score B</th>
                <th>Start date</th>
                <th>Time to end</th>
                </tr>
                <tr th:each="event : ${events}">
                    <td th:text="${event.id}"/>
                    <td th:text="${event.teamA}"/>
                    <td th:text="${event.scoreA}"/>
                    <td th:text="${event.teamB}"/>
                    <td th:text="${event.scoreB}"/>
                    <td th:text="${event.startDate}"/>
                    <td th:text="${event.timeLeft}"/>
                </tr>

            </table>

        </div>

        <p><a th:href="@{'/admin/live'}">See live results (by js)</a></p>

        <p>------------------------------------------------</p>

    </div>



    <div>

        <h2>List of offers:</h2>

        <div th:if="${ #lists.isEmpty(betOffers)}">
            <p>No offers available..</p>
        </div>

        <div th:if="${not #lists.isEmpty(betOffers)}">

            <table th:each="event : ${events}">

                <tr>
                    <th colspan="6" th:text="|Game no ${event.id} : ${event.teamA} vs ${event.teamB}|"></th>
                    <th th:if="${session.user_id != null}">Cart</th>
                </tr>

                <tr>
                    <th>Game id</th>
                    <th>Game</th>
                    <th>Type</th>
                    <th>Strength A</th>
                    <th>Strength B</th>
                    <th>Odds</th>
                    <th th:if="${session.user_id != null}">Add to cart</th>
                </tr>


                <tr th:each="betOffer : ${event.betOffers}">
                    <td th:text="${betOffer.id}"/>
                    <td th:text="|${betOffer.event.teamA} (${betOffer.event.scoreA}) : ${betOffer.event.teamB} (${betOffer.event.scoreB})|"/>
                    <td th:text="${betOffer.event.strengthA}"/>
                    <td th:text="${betOffer.event.strengthB}"/>
                    <td th:text="${betOffer.betOfferType.name}"/>
                    <td th:text="${betOffer.odds}"/>
                    <td th:if="${session.user_id != null}"><a th:href="@{'/bet/add/'+${betOffer.id}}">add to cart</a></td>
                </tr>

                <p></p>

            </table>

        </div>



        <div th:if="${session.user_id == null}">
            <a th:href="@{'/login/'}">Log in to place a bet</a>
        </div>

        <p>------------------------------------------------</p>

    </div>


    <div th:if="${session.user_id != null}">

        <h2>Your cart:</h2>

        <div th:if="${ #lists.isEmpty(session.cartOfBets)}">
            <p>Cart is empty</p>
        </div>

        <div th:if="${not #lists.isEmpty(session.cartOfBets)}">
            <table >
                <tr>
                <th>Game id</th>
                <th>Game</th>
                <th>Bet type</th>
                <th>Odds</th>
                <th>Stake</th>
                <th>To win</th>
                </tr>
                <tr th:each="bet,iter : ${session.cartOfBets}">
                    <td th:text="|${bet.event.teamA} (${bet.event.scoreA}) : ${bet.event.teamB} (${bet.event.scoreB})|"/>
                    <td th:text="${bet.betOffer.betOfferType.name}"/>
                    <td th:text="${bet.betOffer.odds}"/>
                    <td th:text="${bet.stake}"/>
                    <td th:text="${bet.stake}*${bet.betOffer.odds}"/>
                </tr>
            </table>

            <p th:text="|Total to pay : ${totalToPay}|"></p>
            <p th:text="|Total to win : ${totalToWin}|"></p>

            <p><a th:href="@{/operation/confirmPayment}">Go to payment</a></p>
        </div>

        <p>------------------------------------------------</p>

    </div>

    <div th:if="${session.user_id != null}">

        <h2>Your active bets:</h2>

        <div th:if="${ #lists.isEmpty(activeUserBets)}">
            <p>No active bets</p>
        </div>

        <div th:if="${not #lists.isEmpty(activeUserBets)}">
            <table >
                <tr>
                <th>Bet id</th>
                <th>Game id</th>
                <th>Game</th>
                <th>Bet type</th>
                <th>Odds</th>
                <th>Stake</th>
                <th>To win</th>
                </tr>
                <tr th:each="bet,iter : ${activeUserBets}">
                    <td th:text="${bet.id}"/>
                    <td th:text="${bet.event.id}"/>
                    <td th:text="|${bet.event.teamA} (${bet.event.scoreA}) : ${bet.event.teamB} (${bet.event.scoreB})|"/>
                    <td th:text="${bet.betOffer.betOfferType.name}"/>
                    <td th:text="${bet.betOffer.odds}"/>
                    <td th:text="${bet.stake}"/>
                    <td th:text="${bet.stake}*${bet.betOffer.odds}"/>
                </tr>
            </table>

        </div>

        <p>------------------------------------------------</p>

    </div>

</section>
</body>
</html>