<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="layout">
<head>
    <title>Bet24 - home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        table {
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>

<section layout:fragment="content">

    <h1>Welcome on Bet24</h1>



    <!--LOGIN PART - VIEWED ONLY WHEN USER NOT LOGGED IN-->


    <div th:if="${session.user_id == null}">

        <h2>Log in:</h2>

        <form th:action="@{/home}" th:object="${user}" method="post">

            <p><input th:field="*{username}" placeholder="username">username</p>
            <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Incorrect username</p>

            <p><input th:field="*{password}" placeholder="password">password</p>
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect password</p>

            <span th:if="${loginError==1}">Incorrect email of password</span>

            <p><input type="submit" value="submit"></p>

        </form>

        <a href="/user/add">Register here</a>

        <p>------------------------------------------------</p>

    </div>


    <div>
        <h2>List of events:</h2>

        <div th:if="${ #lists.isEmpty(events)}">
            <p>No events available..</p>
        </div>


        <div th:if="${not #lists.isEmpty(events)}">

            <table>
                <th>
                <td>Team A</td>
                <td>Team B</td>
                </th>
                <tr th:each="event : ${events}">
                    <td th:text="${event.id}"/>
                    <td th:text="${event.teamA}"/>
                    <td th:text="${event.teamB}"/>


                </tr>

            </table>

        </div>
        <p>------------------------------------------------</p>

    </div>



    <div>

        <h2>List of offers:</h2>

        <div th:if="${ #lists.isEmpty(betOffers)}">
            <p>No offers available..</p>
        </div>

        <div th:if="${not #lists.isEmpty(betOffers)}">

            <table>
                <th>
                <td>Type</td>
                <td>Odds</td>
                <td>Add to cart</td>
                </th>
                <tr th:each="betOffer : ${betOffers}">
                    <td th:text="${betOffer.id}"/>
                    <td th:text="${betOffer.betOfferType.name}"/>
                    <td th:text="${betOffer.odds}"/>
                    <td><a th:href="@{'/bet/add/'+${betOffer.id}}">add to cart</a></td>
                </tr>

            </table>

        </div>

        <p>------------------------------------------------</p>

    </div>


    <div th:if="${session.user_id != null}">

        <h2>Your cart:</h2>

        <div th:if="${ #lists.isEmpty(session.cartOfBets)}">
            <p>Cart is empty</p>
        </div>

        <div th:if="${not #lists.isEmpty(session.cartOfBets)}">
            <table >
                <th>
                <td>Game</td>
                <td>Bet type</td>
                <td>Odds</td>
                <td>Stake</td>
                </th>
                <tr th:each="bet,iter : ${session.cartOfBets}">
                    <td th:text="${iter.count}"/>
                    <td th:text="|${bet.event.teamA} (${bet.event.scoreA}) : ${bet.event.teamB} (${bet.event.scoreB})|"/>
                    <td th:text="${bet.betOffer.betOfferType.name}"/>
                    <td th:text="${bet.betOffer.odds}"/>
                    <td th:text="${bet.stake}"/>
                </tr>
            </table>

            <p><a th:href="@{/bet/add/cartOfBets}">Go to payment</a></p>
        </div>

        <p>------------------------------------------------</p>

    </div>

        <!--<div th:if="${session.user_id != null}">-->
        <!--&lt;!&ndash;<div th:if="${ #lists.isEmpty(session.cartOfBets)}" th:text="No elements in the cart">&ndash;&gt;-->

        <!--<h2>List of your bets:</h2>-->

        <!--&lt;!&ndash;<div th:if="${not #lists.isEmpty(session.cartOfBets)}">&ndash;&gt;-->
        <!--&lt;!&ndash;<table >&ndash;&gt;-->
        <!--&lt;!&ndash;<th>&ndash;&gt;-->
        <!--&lt;!&ndash;<td>Game</td>&ndash;&gt;-->
        <!--&lt;!&ndash;<td>Bet type</td>&ndash;&gt;-->
        <!--&lt;!&ndash;<td>Odds</td>&ndash;&gt;-->
        <!--&lt;!&ndash;<td>Stake</td>&ndash;&gt;-->
        <!--&lt;!&ndash;</th>&ndash;&gt;-->
        <!--&lt;!&ndash;<tr th:each="bet,iter : ${session.cartOfBets}">&ndash;&gt;-->
        <!--&lt;!&ndash;<td th:text="${iter.count}"/>&ndash;&gt;-->
        <!--&lt;!&ndash;<td th:text="|${bet.event.teamA} (${bet.event.scoreA}) : ${bet.event.teamB} (${bet.event.scoreB})|"/>&ndash;&gt;-->
        <!--&lt;!&ndash;<td th:text="${bet.betOffer.betOfferType.name}"/>&ndash;&gt;-->
        <!--&lt;!&ndash;<td th:text="${bet.betOffer.odds}"/>&ndash;&gt;-->
        <!--&lt;!&ndash;<td th:text="${bet.stake}"/>&ndash;&gt;-->
        <!--&lt;!&ndash;</tr>&ndash;&gt;-->
        <!--&lt;!&ndash;</table>&ndash;&gt;-->

        <!--&lt;!&ndash;<p><a th:href="@{/bet/add/cartOfBets}">Go to payment</a></p>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->

        <!--</div>-->




</section>
</body>
</html>