<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<body>

<table>
    <tr>
        <td><a href="/home">Home</a></td>

        <td th:if="${session.user_id != null}">
            <a th:href="@{/operation/add}">Wallet</a>
        </td>

        <td th:if="${session.user_id != null}">
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Log out"/>
            </form>
        </td>

        <td th:if="${session.user_id != null}" th:text="|User: ${session.user_id}|">

        </td>

    </tr>
</table>

<div layout:fragment="content">
    //Here will be the content of a page
</div>

</body>
</html>