<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Bet24 - login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        table {
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<section layout:fragment="content">

    <h1>Login page</h1>

    <form th:action="@{/home}" th:object="${user}" method="post">

        <p><input th:field="*{username}" placeholder="username">username</p>
        <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Incorrect username</p>

        <p><input th:field="*{password}" placeholder="password">password</p>
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect password</p>

        <p><input type="submit" value="submit"></p>

    </form>

    <a href="/user/add">Register here</a>

</section>
</body>
</html>